<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<context:property-placeholder
		location="file:${CommonProp},
          file:${DAAdapter},
          file:${ManagePurchase},
          file:${ClientFacingWebEndPoint},
          file:${DAAPurchase}"
		ignore-unresolvable="false" />


	<bean id="mpurchaseCFIService"
		class="com.bt.vosp.webendpoint.impl.processor.MPurchaseCFIService"
		scope="request"></bean>

	<bean id="tokenBean" class="com.bt.vosp.common.model.TokenBean" />

	<bean id="applicationContextProvider"
		class="com.bt.vosp.common.proploader.ApplicationContextProvider" />

	<bean id="nftLoggingBean" class="com.bt.vosp.common.model.NFTLoggingVO"/>

	<!--Common Loading Properties with configurable time start -->
	<bean id="CommonLoadProps" class="com.bt.vosp.common.proploader.PreProcessor">
	</bean>
	<task:scheduled-tasks scheduler="schedulerCommon">
		<task:scheduled ref="CommonLoadProps" method="commonPropertiesLoading"
			fixed-rate="${propertyLoadingPeriod}" />
	</task:scheduled-tasks>

	<task:scheduler id="schedulerCommon" pool-size="5" />

	<!--Common Loading Properties with configurable time end -->

	<!--daa Loading Properties with configurable time start -->

	<bean id="daaLoadProps"
		class="com.bt.vosp.daa.commons.impl.helper.ReadDAAPropertiesHelper" />

	<task:scheduled-tasks scheduler="schedulerDAAProps">
		<task:scheduled ref="daaLoadProps" method="getPropertiesHelper"
			fixed-rate="${propertyLoadingPeriod}" />
	</task:scheduled-tasks>

	<task:scheduler id="schedulerDAAProps" pool-size="5" />

	<!--daa Loading Properties with configurable time end -->
		
			
	<!--mPurchase Loading Properties with configurable time start -->
	<bean id="LoadMPurchaseProps"
		class="com.bt.vosp.capability.mpurchase.impl.constant.ManagePurchasePreProcessor" />
	<task:scheduled-tasks scheduler="schedulerManagePurchaseProps">
		<task:scheduled ref="LoadMPurchaseProps" method="getPropertiesData"
			fixed-rate="${propertyLoadingPeriod}" />
	</task:scheduled-tasks>
	<task:scheduler id="schedulerManagePurchaseProps" pool-size="5" />

	<!--mPurchase Loading Properties with configurable time end -->

	<!--MPurchaseDAA Loading Properties with configurable time start -->

	<bean id="mpurchaseDAAPreProcessor"
		class="com.bt.vosp.daa.commons.impl.helper.ReadDAAPurchasePropertiesHelper"></bean>

	<task:scheduled-tasks scheduler="schedulerDAAProps">
		<task:scheduled ref="mpurchaseDAAPreProcessor" method="getPropertiesHelper"
			fixed-rate="${propertyLoadingPeriod}" />
	</task:scheduled-tasks>
	<task:scheduler id="schedulerDAAProps" pool-size="5" />

	<!-- Resolve domain start -->

	<bean id="resolveDomain" class="com.bt.vosp.common.regreader.ResloveDomainHelper"></bean>

	<bean id="resolveService"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		lazy-init="true">
		<property name="targetObject" ref="resolveDomain" />
		<property name="targetMethod" value="resolveDomainHelper" />
	</bean>

	<!-- Resolve domain end -->

	<!-- Payment configuration Id start -->

	<bean id="paymentId"
		class="com.bt.vosp.daa.commerce.payment.impl.processor.PaymentServiceImpl"></bean>

	<bean id="paymentIdService"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		lazy-init="true">
		<property name="targetObject" ref="paymentId" />
		<property name="targetMethod" value="getPaymentId" />
	</bean>

	<!-- Payment configuration ID end -->

	<!-- Purchase service -->

	<bean id="commerceService"
		class="com.bt.vosp.capability.mpurchase.impl.processor.RequestToPurchaseServiceImpl"
		scope="request" />
	<bean id="commerceServiceRemote" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${remoteHost}:${remotePort}/ManagePurchase" />
		<property name="serviceInterface" value="com.bt.vosp.common.service.ManagePurchase" />
	</bean>

	<bean id="commerceServiceOTG"
		class="com.bt.vosp.capability.mpurchase.impl.processor.RequestToPurchaseImplOTG"
		scope="request" />
	<bean id="commerceServiceRemoteOTG" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${remoteHost}:${remotePort}/ManagePurchase" />
		<property name="serviceInterface" value="com.bt.vosp.common.service.ManagePurchaseOTG" />
	</bean>

	<!-- OneStepOrder service -->

	<bean id="OneStepService"
		class="com.bt.vosp.daa.commerce.payment.impl.processor.OneStepOrderServiceImpl"
		scope="request" />
	<bean id="oneStepServiceRemote" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${remoteHost}:${remotePort}/OneStepOrderService" />
		<property name="serviceInterface"
			value="com.bt.vosp.common.service.OneStepOrderService" />
	</bean>

	<!-- Payment service -->
	<bean id="PaymentService"
		class="com.bt.vosp.daa.commerce.payment.impl.processor.PaymentServiceImpl"
		scope="request" />
	<bean id="paymentServiceRemote" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl" value="rmi://${remoteHost}:${remotePort}/Payment" />
		<property name="serviceInterface" value="com.bt.vosp.common.service.PaymentService" />
	</bean>
	<!-- Identity service -->
	<bean id="identityService"
		class="com.bt.vosp.daa.mpx.identityservice.impl.processor.IdentityServiceImpl"
		scope="request" />
	<bean id="identityServiceRemote" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${remoteHost}:${remotePort}/IdentityService" />
		<property name="serviceInterface" value="com.bt.vosp.common.service.IdentityService" />
	</bean>
	<!-- StoreFront service -->
	<bean id="storeFrontService"
		class="com.bt.vosp.daa.storefront.impl.processor.StoreFrontPortalImpl"
		scope="request" />
	<bean id="storeFrontServiceRemote" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${remoteHost}:${remotePort}/GetBroadbandDetails" />
		<property name="serviceInterface" value="com.bt.vosp.common.service.StoreFrontPortal" />
	</bean>
	<!-- DeviceInventory DB Service bean ENDS -->


<!-- csv generation -->
	<bean id="csvTimer" class="com.bt.vosp.capability.mpurchase.impl.util.CsvFileUtility">
		
		</bean>
		
		<bean id="csvTimerService"
		
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		
		lazy-init="true">
		
		<property name="targetObject" ref="csvTimer" />
		
		<property name="targetMethod" value="startCSVTimer" />
		
		</bean>
		
			<bean id="fileTrigger" class="com.bt.vosp.capability.mpurchase.impl.util.TimerUtility">

			</bean>
			
			<task:scheduled-tasks scheduler="schedulerTimerFun">
			
			<task:scheduled ref="fileTrigger" method="handleTimerFun"
			
			fixed-rate="${fileWritingTriggerperiod}" />
			
			</task:scheduled-tasks>
			
			<task:scheduler id="schedulerTimerFun" pool-size="5" /> 


	<!-- Purchase service starts -->

	<!--<bean id="managePurchaseBean" class="com.bt.vosp.capability.mpurchase.impl.processor.RequesToPurchaseServiceImpl"></bean> 
		<bean id="MpurchasePreProcessor" class="com.bt.vosp.capability.mpurchase.impl.constant.ManagePurchasePreprocessor"></bean> --><!-- Purchase service ends -->

</beans>